/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #2c3e50;
  text-align: center;
}

h2 {
  color: #2980b9;
  margin-bottom: 10px;
}

section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"],
input[type="number"],
select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff; /* Fondo blanco */
  appearance: none; /* Eliminar estilos predeterminados */
}

button {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 100px;
}

button:hover {
  background-color: #298;
}

/* Clases para los mensajes nutricionales */
.saludable {
  color: green;
}

.sobrepeso {
  color: orange;
}

.obesidad {
  color: red;
}

.fuera_rango {
  color: gray;
}
